$nav-height : 35px;

html {
	font-size: 14px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.8rem;
	font-weight: 100;
	color: rgba(0,0,0,0.8);
	margin-bottom: 1rem;
}

hr {
	border: none;
    border-bottom: 1px solid #ccc;
}

textarea {
	width: 100%;
	resize: none;
	min-height: 150px;
}

legend {
	font-size: 1.5rem;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
	padding: 10px 20px;
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.right {
	float: right;
}