.lead-card {
	margin-bottom: 1rem;

	.info {
		border: 1px solid #ccc;
		border-top: none;
		padding: 10px;
		position: relative;
	}

	.last-update {
		float: right;
	}
}

.lead-card .dismiss {
    position: absolute;
    right: 10px;
    top: 7.5px;
}

.lead-card .header {
	border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    padding: 10px;

    & > a {
    	text-decoration: none;

    	&:hover {
    		text-decoration: underline;
    	}
    }
}

.lead-action {
    float: right;
}

.lead-editor {
    .lead-details {
        width: 100%;
    }
}