.lead-card {
	margin-bottom: 1rem;

	.info {
		border: 1px solid #ccc;
		border-top: none;
		padding: 10px;
		position: relative;
	}

	.last-update {
		float: right;
	}
}

.lead-card .dismiss {
    position: absolute;
    right: 10px;
    top: 7.5px;
}

.lead-card .header {
	border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 10px;

    & > a {
        color: #000;
    	text-decoration: none;

    	&:hover {
    		text-decoration: underline;
    	}
    }
}

.lead-action {
    float: right;
}

.lead-source {
    margin: 0;
}

.lead-desc {
    max-height: 180px;
    overflow: auto;
    white-space: pre-line;
    padding: 20px;
    border-top: 1px solid #ccc;
    font-size: 0.95rem;
    font-family: monospace;
}

.lead-editor {
    .lead-details {
        width: 100%;
    }

    .lead-status {
        display: inline-block;
        margin-right: 10px;
    }

    .toggle-comment {
        font-size: 0.9rem;
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    .status-comment {
        min-height: 80px;
        display: none;
    }

    .status-comment.visible {
        display: block;
    }
}

.lead-activity {
    margin-bottom: 20px;

    .summary {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        .status-flag {
            font-weight: bold;
        }
    }

    .entry {
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-top: none;
        position: relative;
        padding-right: 80px;

        .tag {
            position: absolute;
            border: 1px solid #ccc;
            right: 5px;
            top: 5px;
            padding: 2px 8px;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1px;
            color: #313131;
        }

        .comment {
            margin: 0;
            font-size: 0.95rem;
        }

        .meta {
            margin: 10px 0 0 0;
            font-size: 11px;
        }
    }

    .entry:last-of-type {

    }
}

.lead-activity-form {
    padding: 10px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border: 1px solid #ccc;
    overflow:hidden;
    margin: 20px 0;

    label {
        display:block;
        margin: 5px 0;
    }

    .activity-comment {
        min-height: 30px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }
}

.leads-activity-more {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: right;

    a {
        text-decoration: none;
        font-size: 12px;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}