.source-item {
	padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;

    p {
    	margin: 0;
    }
}

.source-item:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.source-item:last-of-type {
	border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.source-vitals {
    h3 {
        margin-top: 0;
        display: inline-block;
    }

    .pure-g {
        border: 1px solid #ccc;
        border-radius: 2px;
    }

    .column {
        border-right: 1px solid #ccc;
        box-sizing: border-box;

        text-align: center;
        padding: 10px 0;

        .atom {
            font-size: 2rem;
            display: block;
        }

        .rank {
            font-size: 2rem;
            display: inline-block;
            padding: 8px;
        }
    }

    .overview {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .column:last-of-type {
        border: none;
    }
}