.source-item {
	padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;

    p {
    	margin: 0;
    }
}

.source-item:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.source-item:last-of-type {
	border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.source-meta {
    .atom {
        margin-right: 10px;
    }
}