.tags {
  margin-top: 15px;

  .tag {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
  }
}

.tag-editor {
  border: 1px solid #ccc;


 input.tag-input {
    display: inline-block !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    font-size: 1rem;
  }
}