@import 'reset.scss';
@import 'leads.scss';
@import 'agents.scss';
@import 'dashboard.scss';

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.content {
	padding: 2em 3em 0;
	margin-left: 25%;
}