@import 'base.scss';
@import 'leads.scss';
@import 'sources.scss';
@import 'dashboard.scss';
@import 'nav.scss';
@import 'tags.scss';
@import 'form.scss';



.sidebar {
    position: fixed;
    top: 35px;
    bottom: 0;
    width: 25%;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.content {
	padding: 2em 3em 0;
	margin-left: 25%;
	margin-top: $nav-height;
}